
  h3 {
    margin: 0; }
  input, textarea, select, button, small {
    font-size: 20px;
    color: rgb(102, 102, 102);
    border-radius: 5px;
  }
  
  textarea {
    resize: none; }
  
  :focus {
    outline: none; }
  
  .wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:  rgb(189, 220, 245);
    background-size: cover; }
  
  .inner {
    min-width: 861px;
    transform: translateX(47px);
    margin: auto;
    display: flex;
    background: #fff;
    border-radius: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 250px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
  
  .image-holder img {
    border-radius: 15px;
    transform: translateX(-94px); }
  
  .form {
    padding-top: 42px;
    min-width: 63.88%;
    transform: translateX(-34px); }
  
  h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 21px;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
  }
  
  .form-control {
    height: 47px;
    display: block;
    border: 1px solid #e6e6e6;
    background: none;
    border-radius: 5px;
    padding: 0 19px; }
    .form-control:focus {
      border: 1px solid #cce9f4; }
    .form-control::-webkit-input-placeholder {
      color: rgb(153, 153, 153); }
    .form-control::-moz-placeholder {
      color: rgb(153, 153, 153); }
    .form-control:-ms-input-placeholder {
      color: rgb(153, 153, 153); }
    .form-control:-moz-placeholder {
      color: rgb(153, 153, 153); }
  
  select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    color: rgb(153, 153, 153); }
    select.form-control option[value=""][disabled] {
      display: none; }
  
  textarea.form-control {
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px; }
  .timebegin{
    padding-right: 50px;
  }
  .form-row {
    display: flex;
    margin-bottom: 20px; 
  }
    .form-row .form-control {
      width: 50%; }
      .form-row .form-control:first-child {
        margin-right: 20px; }
    .form-row .form-holder {
      width: 50%; }
      .form-row .form-holder .form-control {
        width: 100%; }
  
  button {
    height: 47px;
    width: 174px;
    display: flex;
    border: none;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    cursor: pointer;
    text-transform: uppercase;
    background: #84e1c5;
    border-radius: 5px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color; 
  }
    